// Keep underlined; color change on hover

@mixin link-style--underline() {
  color: var(--base-body-text);
  text-decoration: none;
  box-shadow: inset 0 -3px 0 0 var(--color-teal);

  &:hover {
    color: var(--link-accent-color);
    box-shadow: inset 0 -3px 0 0 var(--link-accent-color);
  }
}

// No underline; show change on  hover
@mixin link-style--no-underline() {
  color: var(--base-body-text);
  text-decoration: none;
  transition: all 0.15s ease-in;
  box-shadow: none;

  &:hover {
    color: var(--link-accent-color);
    box-shadow: inset 0 -3px 0 0 var(--link-accent-color);
  }
}
