.about_inner_container {
  @include media_tablet_portrait() {
    padding-top: $margin_tablet_portrait;
  }

  @include media_tablet_landscape() {
    margin: $margin_tablet_landscape auto ($margin_tablet_landscape * 2);
    max-width: var(--site-display-width);
  }

  .flex_vertical_push {
    @include media_tablet_landscape() {
      min-height: 800px;
    }
  }
}

.flex_start {
  align-self: flex-start;
}

.flex_end {
  align-self: flex-end;
}

.about_container {
  margin-bottom: 2em;
}

.about_section_container {
  @include flex_gutter();
  @include flex_display();
}

