.about_inner_container {
  @include media_tablet_portrait() {
    padding-top: $margin_tablet_portrait;
  }

  @include media_tablet_landscape() {
    margin: $margin_tablet_landscape auto ($margin_tablet_landscape * 2);
    max-width: var(--site-display-width);
  }

  .flex_vertical_push {
    @include media_tablet_landscape() {
      min-height: 800px;
    }
  }
}

.flex_start {
  align-self: flex-start;
}

.flex_end {
  align-self: flex-end;
}

.about_container {
  margin-bottom: 2em;
}

.about_section_container {
  @include flex_gutter();
  @include flex_display();
}

.design_approach_content {
  margin: 0;

  @include media_tablet_portrait() {
    margin: 0 auto 3em;
    width: 32rem;
  }

  .header_title {
    margin-bottom: 1em;

    @include media_tablet_portrait() {
      margin-bottom: 3em;
    }
  }

  .header_content {
    font-size: 16pt;

    @include media_tablet_portrait() {
      font-size: 20pt;
      margin-bottom: 2em;
    }
  }
}

.button_stack_li {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  border-radius: 4px;
  padding: 1em 1.25em;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease-in;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
  }

  .li_source {
    color: $color_secondary;
    font-weight: 400;
    margin: 0;
  }

  .li_title {
    color: $color_base;
    margin: 0;
  }
}

.button_stack .button_stack_li {
  display: block;
  margin-bottom: 12px;
}

.list_item {

  .list_content {
    margin-bottom: 0.5em;
  }
}
