@mixin button($color: $color_base) {
  box-sizing: border-box;
  display: block;
  font-family: $body_type_sans_serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  width: 100%;

  @include media_tablet_portrait() {
    display: inline-flex;
    text-align: left;
    width: auto;
  }

  color: $color_base;
  background: white;
  border: 4px solid $color_base;
  border-radius: 8px;

  text-decoration: none;

  padding: 1em 1.25em;
  margin-bottom: 0;
  transition: all 0.25s ease;

  &:hover {
    background: #FAC63E;
    cursor: pointer;
  }
}

.button_primary {
  @include button();
}

.button_secondary {
  @include button(#EB7A6A);
}
