@mixin button() {
  background: white;
  border-radius: 6px;
  border: 2px solid var(--base-body-text);
  box-sizing: border-box;
  color: var(--base-body-text);
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0;
  padding: 0.75em 1em;
  text-align: center;
  text-decoration: none;
  width: 100%;

  a {
    color: var(--base-body-text);
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(45deg, #e6a30d, #dc167a);
    border-color: #E15A45;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media_tablet_portrait() {
    display: inline-flex;
    text-align: left;
    width: auto;
  }
}
