.caption_metatag {
  font-size: 16px;
  line-height: 20px;
  color: #369F84;
  font-family: $sans_serif;
  text-align: left;
  margin: 0 auto 2px;

  @include media_tablet_portrait() {
    font-size: 20px;
    line-height: 22px;
  }
}

.caption_title {
  font-size: 20px;
  line-height: 22px;
  color: #120302;
  font-family: $sans_serif;
  text-align: left;
  margin: 0 auto 2px;

  @include media_tablet_portrait() {
    font-size: 24px;
    line-height: 24px;
  }
}

.caption_subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #002865;
  text-align: left;

  @include media_tablet_portrait() {
    font-size: 20px;
    line-height: 28px;
  }
}
