/* ui & visual structure */
.card_container {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  border-radius: 12px;
  height: 240px;
  width: 100%;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);

  @include media_tablet_portrait() {
    height: 327px;
  }
}

.card_container_content {
  padding: 1em;
}

.card_container_content {
  img {
    width: 65%;
    opacity: 0.7;
    display: block;
    margin: 0 auto;
  }
}

.card_title {
  font-family: $tf_serif;
  color: white;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
}

.card_subtitle {
  font-weight: 400;
  margin-top: 0.25em;
}

.card_nav_text {
  @include media_tablet_portrait() {
    visibility: hidden;
    font-weight: 800;
    display: block;
  }
}

/* ux & interactive */
.card_link {
  padding: 0;
  background: none;
  display: block;
  text-decoration: none;
}

.card_link:hover {
  text-decoration: none;

  .card_container_content {
    @include media_tablet_portrait() {
      align-items: flex-end;
    }
  }
}

.card_container {
  transition: 0.25s;
}
