$columns: 12;
$gutter: 1em;
$column_values: 1, 2, 3, 4, 5, 6;

@each $item in $column_values {
  .col_#{$item} {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;

    @include media_tablet_portrait() {
      grid-template-columns: repeat(#{$item}, 1fr);
    }
  }
}

.span--2-3 {
  grid-column: span 2 / 3;
}

.span--3 {
  grid-column: span 3;
}
