$columns: 12;
$gutter: 1em;
$column_values: 1, 2, 3, 4, 5, 6;

@each $item in $column_values {
  .col_#{$item} {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;

    @include media_tablet_portrait() {
      grid-template-columns: repeat(#{$item}, 1fr);
    }
  }
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.align_center {
    align-items: center;
}


/* define column container */
.grid_column_container,
.col_container {
  @include flex_gutter();
  padding: 0;

  @include media_tablet_portrait() {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.col_primary {
  @include media_tablet_portrait() {
    width: 64%;
    padding-right: 4em;
    box-sizing: border-box;

    h1 {
      margin-top: 0;
    }
  }
}

.col_secondary {
  @include media_tablet_portrait() {
    width: 40%;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.col_standard_col {
  margin: 0 auto 2em;
  @include media_tablet_landscape() {
    width: 28rem;
  }

  @include media_desktop() {
    width: 30rem;
  }
}

.col {
  figure {
    margin-top: 52px;
  }
}

