.site_footer {
  border-top: $base_border_style;
  margin-left: $margin_mobile;
  margin-right: $margin_mobile;

  @include media_tablet_portrait {
    margin-left: $margin_tablet_portrait;
    margin-right: $margin_tablet_portrait;
  }

  @include media_tablet_landscape {
    margin-left: $margin_tablet_landscape;
    margin-right: $margin_tablet_landscape;
  }
}

.site_footer_inner_content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding-top: $margin_mobile;
  padding-bottom: $margin_mobile;
  font-family: $body_type_sans_serif;
}

.social-contacts {
  list-style: none;
  padding-left: 0;
  
  li {
    display: inline;
    margin-right: $margin_mobile;

    a {
      color: $color_base;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
