.site_footer_inner_content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: var(--su-default);
  padding-bottom: var(--su-default);
  border-top: var(--border-style);
}

.footer__contact-info {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;

  @include media_tablet_portrait {
    justify-content: flex-end;
  }

  li {
    display: inline;
    margin-right: var(--su-default);

    a {
      @include link-style--no-underline();
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
