.site_footer {
  background-color: #274675;
  color: white;
  margin-bottom: 0;
}

.site_footer_container {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 64px 12px 40px;

  @include media_desktop() {
    padding: 160px 12px 80px;
  }

  p {
    font-size: 18px;

    a {
      color: white;
    }
  }

  p.large {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
  }
}

.footer_message {
  //not foot massage

  font-family: $display_serif;
  font-weight: 900;
  text-align: left;
  width: 100%;

  margin-bottom: 40px;

  @include media_tablet_portrait {
    text-align: center;
  }

  @include media_desktop() {
    margin: 0 auto 160px;
    width: 560px;
  }
}

.list_link_title {
  color: #369F84;
  font-family: $tf_sans_serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.site_footer_container_wrapper {
  border-top: 3px solid $color_base;
  display: block;
  padding-top: 2em;

  @include media_tablet_portrait() {
    display: flex;
    justify-content: space-evenly;
  }
}

.site_footer_nav_container {
  @include flex_display();

  @include media_tablet_portrait() {
    justify-content: space-evenly;
  }
}

.site_footer_nav {
  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;

    li {
      display: block;
      margin: 4px 4px 8px;

      a {
        @include link_secondary_style();
        padding: 4px 8px;
        border-radius: 4px;
        color: white;

        &:hover {
          background: rgba(255,255,255,0.1);
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.social_links {
  margin-top: 0;
  padding-inline-start: 0;

   li {
     display: inline;
     margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list_link {

  ul {
    list-style-type: none;
    padding-inline-start: 0;

    li {
      margin-bottom: 8px;

      a {
        color: white;
        text-decoration: none;
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.endnote {
  opacity: 0.8;
  font-size: 14px;
}

.list_link_section {
  margin-bottom: 40px;
}
