
$margin_mobile: 1.0em;
$margin_tablet_portrait: 1.0em;
$margin_tablet_landscape: 2.0em;

@mixin flex_gutter() {
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;

  @include media_tablet_landscape() {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @include media_tablet_landscape() {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include media_desktop() {
    margin: 1em auto;
  }
}

@mixin flex_display() {
  display: block;

  @include media_tablet_portrait() {
    display: flex;
  }
}

@mixin flex_display_false() {
  display: block;
}

@mixin flex_height_display() {
  padding-top: 1em;
  padding-bottom: 1em;

  @include media_tablet_portrait() {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
