
$margin_mobile: 1.0em;
$margin_tablet_portrait: 1.0em;
$margin_tablet_landscape: 2.0em;

@mixin flex_gutter() {
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;

  @include media_tablet_landscape() {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @include media_tablet_landscape() {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include media_desktop() {
    margin: 1em auto;
  }
}

@mixin flex_display() {
  display: block;

  @include media_tablet_portrait() {
    display: flex;
  }
}

@mixin flex_display_false() {
  display: block;
}

@mixin flex_height_display() {
  padding-top: 1em;
  padding-bottom: 1em;

  @include media_tablet_portrait() {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@mixin flex_weight_display() {
  padding-left: 1em;
  padding-right: 1em;

  @include media_tablet_portrait() {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.fl {
  @include flex_display();
}

.fl_ai_ctr {
  align-items: center;
}

.pd_rt_s {
  padding-right: 2em;
}

.pd_lf_s {
  padding-left: 2em;
}

.mg_dw_m {
  margin-bottom: 4em;
}

$value_s: 2em;
$value_m: 4em;
$value_l: 8em;

.p_t_s {
  padding-top: $value_s;
}

.p_b_s {
  padding-bottom: $value_s !important;
}

.p_b_null {
  padding-bottom: 0 !important;
}

.p_tb_s {
  padding-top: $value_s;
  padding-bottom: $value_s;
}

.p_all_s {
  padding: $value_s;
}

.p_t_m {
  padding-top: $value_m !important;
}

.p_b_m {
  padding-bottom: $value_m !important;
}

.p_tb_m {
  padding-top: $value_m !important;
  padding-bottom: $value_m !important;
}

.p_t_l {
  padding-top: $value_l;
}

.p_b_l {
  padding-bottom: $value_l;
}

.p_tb_l {
  padding-top: $value_l;
  padding-bottom: $value_l;
}

.null_m_b {
  margin-bottom: 0;
}

.text_align--center {
  text-align: center;
}

// mrgn

// pdng

// top, rgt, btm, lft
