:root {
  --screen-width: 320px;
  --screen-height: 560px;
  --splash-color: green;
}

.site_header {
  @include flex_gutter();
}

.site_menu {
  display: none;
  align-items: center;
  flex-direction: column;

  &.is-active  {
    display: flex;
  }

  @include media_tablet_portrait() {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.site_menu__logo {
  display: none;

  @include media_tablet_portrait() {
  display: flex;
  font-weight: 800;
  font-size: 18pt;

    a {
      background: transparent;
      color: $color_base;
      border: none;
      text-decoration: none;

      &:hover {
        color: $color_accent;
      }
    }
  }
}

.site_menu__pages {
  width: 100%;

  @include media_tablet_portrait() {
    width: inherit;
  }

  ul {
    margin-top: 0.75em;
    padding-left: 0;

    li {
      display: block;

      @include media_tablet_portrait() {
        display: inline;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;

        @include media_tablet_portrait() {
          display: inline;
          width: inherit;
        }

        @include link_secondary_style();
        padding: 12px;
        border-radius: 5px;
        color: $color_base;

        &:hover {
          background: rgba(0,0,0,0.07);
          color: #777;
          color: $color_base;
          text-decoration: none;
        }
      }
    }
  }
}

.site_menu__pages {
  .page__index {
    display: block;

    @include media_tablet_portrait() {
      display: none;
    }
  }
}

.site_menu__mobile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 3px solid $color_base;
  margin-bottom: 1em;

  @include media_tablet_portrait() {
    display: none;
  }

  .site_menu__logo {
    display: block;

    a {
      color: $color_base;
      text-decoration: none;
    }
  }
}

.menuicon {
  display: block;
  color: $color_base;

  &__circle,
  &__bar {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
}
