.hero_header {
  background: var(--color-rose);
  border-bottom: 2px solid var(--color-charcoal);
}

.hero_header_inner_content {
  position: relative;

  @include media_tablet_portrait() {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: var(--site-display-width);
    padding-bottom: calc(var(--su-l) * 2);
    padding-top: calc(var(--su-l) * 2);
  }

  @include media_tablet_landscape() {
    padding-bottom: calc(var(--su-xl) * 1.5);
    padding-top: calc(var(--su-xl) * 1.5);
  }
}

.h1_jumbo {
  font-weight: 700;
  margin-bottom: 0;

  font-size: 40px;
  line-height: 1.25;

  @include media_tablet_portrait {
    font-size: 64px;
  }

  @include media_tablet_landscape() {
    font-size: 3rem;
    line-height: 125%;
  }
}

.hero_description_container {
  padding-bottom: 1em;

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0.5em;

    @include media_tablet_portrait() {
      font-size: 32px;
      line-height: 40px;
      max-width: 24em;
      margin-left: 0;
    }
  }
}

.hero-gallery {
  @include media_tablet_portrait() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--su-default);
    margin-bottom: calc( var(--su-l) * -1);
  }

  img {
    border: 2px solid var(--color-charcoal);

    &:first-child {
      transform: rotateZ(-5deg);
    }

    &:nth-child(2) {
      transform: rotateZ(3deg);
    }

    &:last-child {
      transform: rotateZ(-7deg);
    }
  }


}
