.hero_header_inner_content {
  position: relative;
  padding-top: $margin_mobile;

  @include media_tablet_portrait() {
    padding-top: $margin_tablet_portrait;
  }
  
  @include media_tablet_landscape() {
    margin: $margin_tablet_landscape auto;
    max-width: 64em;
  }
}

.h1_jumbo {
  color: $color_base;
  font-family: $sans_serif;
  font-weight: 700;
  margin-bottom: 0;

  font-size: 40px;
  line-height: 44px;

  @include media_tablet_portrait {
    font-size: 64px;
    line-height: 72px;
  }

  @include media_tablet_landscape() {
    font-size: 3rem;
    line-height: 125%;
  }
}

.hero_description_container {
  padding-bottom: 1em;

  p {
    color: $color_base;
    font-weight: 400;
    font-family: $body_type_sans_serif;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0.5em;

    @include media_tablet_portrait() {
      font-size: 32px;
      line-height: 40px;
      max-width: 24em;
      margin-left: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
