.index_container {
  margin-bottom: var(--su-default);
  overflow-x: hidden;

  @include media_tablet_portrait() {
    margin-bottom: var(--su-tablet-portrait);
  }

  @include media_tablet_landscape() {
    margin-bottom: var(--su-tablet-landscape);
  }
}
