.index_container {
  margin-bottom: $margin_mobile * 2;

  @include media_tablet_portrait() {
    margin-bottom: $margin_tablet_portrait * 4;
  }

  @include media_tablet_landscape() {
    margin-bottom: $margin_tablet_landscape * 4;
  }
}
