.index_container {
  margin-bottom: $margin_mobile;
  overflow-x: hidden;

  @include media_tablet_portrait() {
    margin-bottom: $margin_tablet_portrait;
  }

  @include media_tablet_landscape() {
    margin-bottom: $margin_tablet_landscape;
  }
}
