body {
  background: #ffffff;
  margin: 0 auto;
  display: block;

  @include media_tablet_portrait() {
    padding-left: 0;
    padding-right: 0;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.body_container {
  max-width: 100%;
}

.container {
  @include flex_gutter();
}

.container--column {
  margin: 0 auto 2em;

  @include media_tablet_landscape() {
    width: 44rem;
  }

  @include media_desktop() {
    width: 48rem;
  }
}

.page_container {
  @include flex_gutter();
  @include flex_display();
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

