body {
  background: #ffffff;
  margin: 0 auto;
  display: block;

  @include media_tablet_portrait() {
    padding-left: 0;
    padding-right: 0;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.body_container {
  max-width: 100%;
}

.container {
  @include flex_gutter();
}

.page_container {
  @include flex_gutter();
  @include flex_display();
}

.page_container_block {
  @include flex_gutter();
  @include flex_display_false();
}


.row_container {
  @include media_tablet_portrait() {
    margin-bottom: $margin_tablet_portrait * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col_2 {
  @include media_tablet_landscape() {
    display: flex;

    .row_container_col {
      margin-right: $margin_mobile;
      width: 100%;

      @include media_tablet_portrait() {
        margin-right: $margin_tablet_portrait*2;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.col_centered {
  @include media_tablet_portrait() {
    max-width: 36em;
    margin: 0 auto;
  }
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}
