body {
  background: #fff8f8;
  margin: 0 auto;
  display: block;

  @include media_tablet_portrait() {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.body_container {
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  @include media_tablet_portrait() {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

