.page {
  &--container {
    margin-top: var(--su-default);
    margin-bottom: var(--su-default);

    @include media_tablet_portrait() {
      margin-top: var(--su-l);
      margin-bottom: var(--su-l);
    }
  }

  &--header {
    margin-bottom: var(--su-l);
  }
}