:root {
  --screen-width: 320px;
  --screen-height: 560px;
  --splash-color: green;
}

.site_header {
  background-color: transparent;

  @include media_tablet_portrait() {
    padding: 0;
  }
}

.site_menu {
  display: none;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--type-body-sans-serif);

  &.is-active  {
    display: flex;
    top: 88px;
    z-index: 3270;
  }

  @include media_tablet_portrait() {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.site_menu__logo {
  display: none;
  font-size: 24px;

  @include media_tablet_portrait() {
    display: flex;
    font-weight: 800;
    margin-right: 8px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;

    a {
      @include link-style--no-underline();
    }
  }
}

.site_menu__pages {
  align-items: center;
  border-bottom: var(--border-style);
  display: flex;
  justify-content: space-around;
  margin-left: var(--su-default);
  margin-right: var(--su-default);
  padding-bottom: var(--su-s);
  padding-top: var(--su-s);
  width: 100%;

  @include media_tablet_portrait() {
    margin: 0 auto;
    padding: var(--su-default) 0;
  }

  @include media_tablet_landscape() {
    max-width: var(--site-display-width);
    margin: 0 auto;
  }

  .page__index {
    display: block;

    @include media_tablet_portrait() {
      display: none;
    }
  }


  ul {
    margin: 0;
    padding-left: var(--su-default);
    padding-right: var(--su-default);
    width: 100%;

    @include media_tablet_portrait() {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    li {
      display: block;

      @include media_tablet_portrait() {
        display: inline;
        margin-right: var(--su-m);

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        @include link-style--no-underline();

        font-family: var(--type-body-sans-serif);
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: center;

        @include media_tablet_portrait() {
          display: inline;
          width: inherit;
          padding: 0;
          border-radius: 0;
        }
      }
    }
  }
}

.site_menu__mobile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: auto var(--su-default) var(--su-default);
  text-decoration: none;
  border-bottom: var(--border-style);

  @include media_tablet_portrait() {
    display: none;
  }

  .site_menu__logo {
    display: block;
    margin: 0;

    a {
      font-family: var(--type-display);
    }
  }

  a {
    box-shadow: none;
  }
}

.menuicon {
  display: block;

  &__circle,
  &__bar {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
}
