:root {
  --screen-width: 320px;
  --screen-height: 560px;
  --splash-color: green;
}

.site_header {
  background-color: transparent;
  padding: 12px 24px;

  @include media_tablet_portrait() {
    padding: 0;
  }
}

.site_header.dark {
  background: #369F84;
  .site_menu__logo a,
  .site_menu__pages a,
  .menuicon {
    color: #FFFFFF;
  }

  .site_menu {
    background: #369F84;
  }
}

.site_menu {
  display: none;
  align-items: center;
  flex-direction: column;

  &.is-active  {
    display: flex;
    position: absolute;
    top: 88px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFEDDD;
    z-index: 3270;
  }

  @include media_tablet_portrait() {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}



.site_menu__logo {
  display: none;
  font-size: 24px;

  @include media_tablet_portrait() {
  display: flex;
  font-weight: 800;
  font-family: $display_serif;
  line-height: 18px;
  margin-right: 8px;
  width: inherit;

    a {
      color: #002865;
      text-decoration: none;

      &:hover {
        color: #777;
        text-decoration: underline;
      }
    }
  }
}

.site_menu__pages {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;

  ul {
    margin-top: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;

    @include media_tablet_portrait() {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    li {
      display: block;

      @include media_tablet_portrait() {
        display: inline;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-size: 20px !important;
        line-height: 40px;
        text-align: center;

        padding: 12px;
        border-radius: 5px;

        color: #113F75;
        margin-right: 1em;
        text-decoration: none;

        &:hover {
          background: rgba(0,0,0,0.05);
        }

        @include media_tablet_portrait() {
          display: inline;
          width: inherit;
          padding: 0;
          border-radius: 0;

          &:hover {
            color: #777;
            color: $color_base;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.site_menu__pages {

  .page__index {
    display: block;

    @include media_tablet_portrait() {
      display: none;
    }
  }
}

.site_menu__mobile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 64px;

  @include media_tablet_portrait() {
    display: none;
  }

  .site_menu__logo {
    display: block;

    a {
      color: $color_base;
      text-decoration: none;
    }
  }
}

.menuicon {
  display: block;
  color: $color_base;

  &__circle,
  &__bar {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
}
