html {
 -webkit-font-smoothing: antialiased;
  color: var(--base-body-text);
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;

  body {
    font-family: var(--type-body-sans-serif);
    font-size: 16pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
  font-weight: 900;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.45;
}

h1 {
  @include font-sizing(1.5, 1.75, 2.25);
}

h2 {
  @include font-sizing(1.15, 1.5, 1.75);
}

h3 {
  @include font-sizing(1.0, 1.35, 1.5);
}

h4 {
  @include font-sizing(1.0, 1.0, 1.15);
}

h5 {
  @include font-sizing(1.0, 1.0, 1.0);
}

h6 {
  @include font-sizing(0.8, 0.8, 0.8);

  text-transform: uppercase;
}

p {
  @include font-sizing(1.0, 1.0, 1.0);

  font-family: var(--type-body-sans-serif-text);
  margin-top: 0;
  margin-bottom: 1.25em;

  &.paragraph--larger {
    font-size: larger;
  }

  &.paragraph--smaller {
    font-size: smaller;
  }
}

a {
  @include link-style--underline();
}


em {
  font-style: normal;

  &.highlight {
    color: #03b999;
  }

  &.gradient {
    background: -webkit-linear-gradient(45deg, #e6a30d, #dc167a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

strong {
  font-weight: 800;
}

caption {
  display: inline-block;
}
