.work_display--headline {
  display: block;
  margin-top: 24px;
  overflow: hidden;

  .title {
    margin: 0;
    @include media_tablet_landscape() {
        font-size: $base_font_size * 3;
      }
  }

  .subtitle {
    color: $color_accent_complementary;
  }
}

.work_display--graphic {
  background: $color_highlight;
  margin-top: 24px;
  text-align: center;

  @include media_tablet_portrait() {
  }

  img {
    max-width: 1200px;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.work_body {
  @include flex_gutter();
    padding-top: 1rem;
    padding-bottom: 1rem;

  @include media_desktop() {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h1 {
    font-size: $h2_font_size_mobile;
    padding-bottom: 0.5rem;

    @include media_tablet_portrait() {
      font-size: $h1_font_size_tablet;
      padding-bottom: 0.5rem;
    }

    @include media_desktop() {
      font-size: $h1_font_size;
      padding-bottom: 2rem;
    }
  }

  h6 {
    color: $color_accent_complementary;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  h2, h3, h4, h5, h6, p, ul, ol, figcaption, cite {
    margin: 0.25rem auto 0.5rem;

    @include media_tablet_portrait() {
      width: 32rem;
    }

    @include media_desktop() {
      width: 40rem;
    }
  }


  p,
  ul li,
  ol li {
    font-size: $base_font_size_mobile;

    @include media_tablet_portrait() {
      font-size: $base_font_size;
    }
  }

  li {
    margin-bottom: 12px;
  }

  ol,ul, p {
    margin-bottom: 24px;
  }

  figure {
    margin: 16px;

    @include media_desktop() {
      margin: 40px;
    }
  }

  figcaption {
    margin-bottom: 24px;
    text-align: center;

    @include media_desktop() {
      margin-bottom: 48px;
    }
  }
}
