.work_inner_container {

  header {
    padding-top: $margin_mobile * 4;
    margin: 0 auto ($margin_mobile * 4);
    text-align: left;

    @include media_tablet_portrait() {
      padding-top: $margin_tablet_portrait * 4;
      margin: 0 auto ($margin_tablet_portrait * 4);
    }

    @include media_tablet_landscape() {
      padding-top: $margin_tablet_landscape * 4;
      margin: 0 auto ($margin_tablet_landscape * 4);
      max-width: 64em;
    }


    h2 {
      font-weight: 900;
      text-align: left;
      font-family: $sans_serif;

      @include media_tablet_portrait() {
        font-size: 56px;
        line-height: 64px;
      }
    }
  }


  caption {
    padding-top: 12px;
    margin-bottom: 40px;

    @include media_tablet_portrait() {
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0 auto 0 0;
      text-align: left;
      width: 100%;

      @include media_tablet_portrait() {
        width: 75%;
      }
    }
  }
}

.dropbox {
  background-image: url("../images/dropbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  height: 400px;
  max-height: 1000px;
  width: 100%;

  @include media_tablet_portrait() {
    height: 1000px;
  }
}

.facebook_reporting {
  background-image: url("../images/facebook_reporting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;

  @include media_tablet_portrait() {
    height: 800px;
  }
}

.facebook_music {
  background-image: url("../images/facebook_music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 340px;
  width: 100%;

  @include media_tablet_portrait() {
    height: 640px;
  }
}

.facebook_content_warnings {
  background-image: url("../images/facebook_content_warnings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 340px;
  width: 100%;

  @include media_tablet_portrait() {
    height: 640px;
  }
}

.facebook_authenticity {
  background-image: url("../images/facebook_authenticity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 340px;
  width: 100%;

  @include media_tablet_portrait() {
    height: 640px;
  }
}

.values_card {
  display: flex;
  align-items: center;
  background-color: #FAF7EF;
  height: 340px;
  width: 100%;

  .values_card_content {
    padding: 64px;
  }

  h3 {
    color: #102442;
    margin-bottom: 0;
  }

  p {
    font-size: 24px;
    line-height: 30px;
    color: #102442;
    opacity: 0.8;
  }

  @include media_tablet_portrait() {
    margin-top: 320px;
    height: 640px;
  }
}
