.work_display--headline {
  display: block;
  margin-top: 24px;
  overflow: hidden;

  .title {
    margin: 0;
    @include media_tablet_landscape() {
        font-size: $base_font_size * 4;
      }
  }

  .subtitle {
    color: $color_accent_complementary;
  }
}

.work_display--graphic {
  background: $color_highlight;
  margin-top: 24px;
  text-align: center;

  @include media_tablet_portrait() {
  }

  img {
    max-width: 1200px;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.work_body {
  @include flex_gutter();

  @include media_desktop() {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  h1 {
    margin: 1em auto !important;
    line-height: 1.65;
  }

  h2, h3, h4, h5, h6, p, ul, ol, figcaption, cite {
    margin: 0 auto;

    @include media_tablet_landscape() {
      width: 44rem;
    }

    @include media_desktop() {
      width: 48rem;
    }
  }

  h2 {
    font-family: $tf_sans_serif;
    line-height: 1.33;
    margin-bottom: 4px;
  }

  p,
  ul li,
  ol li {
    font-size: 18pt;
  }

  li {
    margin-bottom: 12px;
  }

  ol,ul, p {
    margin-bottom: 24px;
  }

  figure {
    margin: 16px;

    @include media_desktop() {
      margin: 40px;
    }
  }

  figcaption {
    margin-bottom: 24px;
    text-align: center;

    @include media_desktop() {
      margin-bottom: 48px;
    }
  }
}
