$card_height: 620px;
$card_border_radius: 4px;

.work_section_container {
  @include flex_gutter();
  @include flex_display();
}

.work_card_container {
  background: white;
  box-sizing: border-box;

  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
  max-height: $card_height;

  text-decoration: none;
  transition: all 0.25s ease-in;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  border-radius: $card_border_radius;
  margin-bottom: 2em;
  color: $color_base;

  @include media_tablet_portrait() {
    align-items: center;
    flex-direction: row;
    padding: 0;
  }

  &:hover {
    color: $color_base;
    transform: translateY(-0.25em);
  }

  > div {
    box-sizing: content-box;
    flex-basis: calc(50% - 40px);
  }

  .card_content {
    @include media_tablet_portrait() {
      padding: 4em;
    }
  }

  .card_img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: $card_height;
  }

  .card_source_container {
    margin-bottom: 1em;

    @include media_tablet_portrait() {
      margin-bottom: 2em;
    }

    .card_source {
      margin: 0;
      // color: #58507f;
    }

    .card_source_detail {
      font-weight: 400;
      // color: #777;
      margin: 0;
    }
  }

  .pn {
    .card_source_container {
      display: none;
    }
  }

  .card_body_container {
    margin-bottom: 1em;

    @include media_tablet_portrait() {
      margin-bottom: 2em;
    }

    .card_title {
      color: $color_base;
      font-weight: 800;
      font-family: $tf_serif;
    }
  }
}

.project_container {
  margin-bottom: 4em;

  .project_header {
    min-height: 320px;
    width: 100%;
    position: relative;
    display: flex;

    @include media_tablet_portrait() {
      height: 560px;
      margin-top: 1em;
    }

    .project_header_content {
      align-self: center;
      background: #fff8f8;
      color: black;
      padding: 1em;
      margin: 1em;

      &.col {
        margin-bottom: 0;
      }

      @include media_tablet_portrait() {
        padding: 2em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
      }

      @include media_tablet_landscape() {
      }

      @include media_desktop() {
        padding: 3em 3em 1em;
      }

      .project_sourceline,
      .project_title {
        margin: 0;
      }

      .project_sourceline {
        color: #777;
        font-size: 16pt;
        font-weight: 400;
      }
    }
  }
}

.project_container{
  .project_header {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.project_header.work_section {
  margin-bottom: 2em;
}

.background_subline {
  font-size: 32pt;
}

.work_section_title {
  @include header_title_h3();
  margin-bottom: 1em;
}

.work_section {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;

  &.col_full {
    .col {
      margin: 0 auto 2em;
      @include media_tablet_landscape() {
        width: 28rem;
      }

      @include media_desktop() {
        width: 30rem;
      }
    }
  }

  &.col_mid_stretch {
    .col {
      width: 48em;
      margin: 0 auto;
    }
  }

  &.col_full_stretch {
    .col {
      margin: 0 auto 2em;
      width: 100%;
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    color: #777;
    font-size: 12pt;
    text-align: center;
  }

  &.no_margin {
    padding-left: 0;
    padding-right: 0;
  }
}

.work_section.no_margin.gif {
  figure {
    width: 360px;
    margin: 0 auto;
  }
}

.work_section h2 {
  font-family: $tf_serif;
  margin-bottom: 0.5em;
}

.work_section.highlight {
  background-color: #fcebeb;
  max-width: 100%;

  @include flex_height_display();
  @include no_flex_display();

  @include media_tablet_portrait() {
    padding-left: 1em;
    padding-right: 2em;
  }
}

.special_paragraph {
  font-size: 16pt;

  @include media_tablet_portrait() {
    font-size: 20pt;
    margin-bottom: 2em;
  }
}

.page_container.gallery {
  display: block;
}

.gallery_item {
  margin-bottom: 20px;
}
