.page_header.writing{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .h1_jumbo {
    display: block;
  }
}

.page_header_inner_content {
  margin: ($margin_mobile * 2) auto ($margin_mobile * 2);

  @include media_tablet_landscape() {
    margin: ($margin_tablet_landscape * 3) auto ($margin_tablet_landscape * 2);
    max-width: 64em;
  }
}



.writing_index_inner_content {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  @include media_tablet_portrait() {
    margin-bottom: $margin_tablet_portrait * 4;
  }

  @include media_tablet_landscape() {
    margin-bottom: $margin_tablet_landscape * 4;
    max-width: 64em;
  }

}

.article_container {
  max-width: 100%;
  margin: 0 0 1em;

  @include media_tablet_portrait() {
  }

  .article_header_container {
    padding-top: $margin_mobile;
    padding-bottom: $margin_mobile;

    @include media_tablet_portrait() {
      margin-top: 0;
      padding-top: $margin_tablet_portrait * 2;
      padding-bottom: $margin_tablet_portrait * 2;
    }
  }

  .article_title,
  .article_date,
  .article_subtitle {
    margin: 0;
    display: block;
  }

  .article_title {
    color: #120302;
    font-family: $sans_serif;
    text-align: left;

    font-size: $base_font_size * 2;
    line-height: $base_font_size * 2;

    @include media_tablet_portrait() {
      font-size: $base_font_size * 3;
      line-height: $base_font_size * 3;
    }
  }

  .article_date {
    font-size: 18px;
    line-height: 22px;
    color: #6F7B78;
    font-weight: 700;
    font-family: $sans_serif;
    text-align: left;
    margin: 0 auto 2px;

    @include media_tablet_portrait() {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .article_subtitle {
    font-size: 20px;
    line-height: 28px;
    color: #120302;
    text-align: left;

    @include media_tablet_portrait() {
      font-size: $base_font_size * 1.25;
      line-height: $base_font_size * 1.25;
    }
  }
}

.article_header_content_container {
  @include flex_gutter();
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;

  @include media_tablet_portrait() {
    max-width: 40em;
    margin: 0 auto;
  }
}

.article_body_content_container {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 4px;
  }

  img {
    margin-bottom: 1.25em;
  }

  @include flex_gutter();
  padding-left: 0;
  padding-right: 0;
  line-height: 1.65;
  width: 100%;

  @include media_tablet_portrait() {
    max-width: 40em;
    margin: 0 auto;
  }
}



.article_card_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-decoration: none;
  transition: all 0.25s ease-in;
  border-radius: 4px;

  @include media_tablet_portrait() {
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
  }

  @include media_tablet_landscape() {
    margin-bottom: 2em;
  }

  .card_image {
    opacity: 0.8;
    border-radius: 4px;
    object-fit: cover;
    height: 240px;
    width: 100%;

    @include media_tablet_portrait() {
      width: 240px;
    }

    @include media_tablet_landscape() {
      height: 304px;
      width: 540px;
    }
  }

  &:hover {

    .card_image {
      opacity: 1.0
    }

    .caption_metatag {
      color: #369F84;
    }
  }

  .card_caption {
    text-align: left;
    padding-top: 12px;
    margin-bottom: 40px;

    @include media_tablet_portrait() {
      padding-top: 0;
      padding-left: 1em;
      margin-bottom: 0;
    }
  }

  .caption_metatag {
    color: #6F7B78;
  }
}

.article_end_footer {
  margin-bottom: $margin_mobile * 2;

  @include media_tablet_portrait() {
    margin-bottom: $margin_tablet_portrait * 2;
  }

  a {
    text-decoration: none;
  }
}
