html {
 -webkit-font-smoothing: antialiased;
  color: var(--base-body-text);
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;

  body {
    font-family: var(--type-body-serif);
    font-size: 1em;
    line-height: var(--base-line-height);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.45;
}

h1 {
  @include font-sizing(1.5, 1.75, 2.25);
}

h2 {
  @include font-sizing(1.35, 1.5, 1.75);
  line-height: var(--secondary-line-height);
}

h3 {
  @include font-sizing(1.35, 1.35, 1.5);
  line-height: var(--secondary-line-height);
}

h4 {
  @include font-sizing(1.0, 1.0, 1.15);
  line-height: var(--secondary-line-height);
}

h5 {
  @include font-sizing(1.0, 1.0, 1.0);
  line-height: var(--secondary-line-height);
}

h6 {
  @include font-sizing(0.8, 0.8, 0.8);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;
}

a {
  @include link-style--underline();
}

p {
  @include font-sizing(1.0, 1.0, 1.0);

  font-family: var(--type-body-sans-serif-text);
  margin-top: 0;
  margin-bottom: 1.25em;

  &:last-child {
    margin-bottom: 0;
  }

  &.paragraph--larger {
    font-size: larger;
  }

  &.paragraph--smaller {
    font-size: smaller;
  }

  a {
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 var(--base-00);

    &:hover {
      box-shadow: inset 0 -3px 0 0 var(--base-00);
    }
  }
}

em {
  font-style: italic;

  &.highlight {
    color: #03b999;
  }

}

strong {
  font-weight: 800;
}

caption {
  display: inline-block;
}

tr {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed var(--base-00);

  &:first-child {
    padding-top: 0;
  }
}

td {
  vertical-align: baseline;
  line-height: var(--line-height-medium);

  &:first-child {
    font-weight: 500;
  }
}
