.journal-entry {
  padding-bottom: calc(var(--su-xl) * 1.5);
  margin-bottom: calc(var(--su-xl) * 1.5);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27%;
    border: 2px solid black;
  }

  &:nth-child(odd) {
    &:after {
      transform: rotateZ(13deg);
    }
  }

  &:nth-child(even) {
    &:after {
      transform: rotateZ(-3deg);
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  &__cover-container {
    background: var(--color-charcoal);
    display: flex;
    max-height: 480px;
    overflow: hidden;
    margin-bottom: var(--su-default);
    margin-top: var(--su-default);
  }

  &__cover-media {
    object-fit: contain;
  }

  &__date {
    @include font-sizing(0.85,0.85,0.85);

    font-weight: 400;
    margin: 0;
    letter-spacing: 0.5px;
  }

  &__title {
    font-family: var(--type-body-serif);
    margin-top: 0;
  }

  &__body {
    p {
      font-family: var(--type-body-serif);
      font-size: larger;
    }

    img {
      margin-bottom: var(--su-default);
    }
  }
}
